

#recentvisit-body{
  width: calc(100% - 30px);
  height: max-content;
  min-height: 300px;
  
  border-radius: 15px;

  padding: 10px 15px 10px 15px;

  position: relative;
  top: 20px;
}


@media screen and (min-width: 1400px) {
  #recentvisit-body {
    width: calc(55% - 25px - 60px);
    height: calc(100% - 50px - 30px);
    min-height: 500px;
    max-height: unset;
    
    border-radius: 30px;

    padding: 15px 30px 15px 30px;

    position: absolute;
    top: 0px;
    right: 0px
  }
}