.componentbody {
  min-width: 100px;
  min-height: 100px;

  background-color: rgba(15, 19, 26, 0.4);

  box-shadow: 0px 0px 30px 0px rgb(23, 28, 35, 0.4);
}


.components-title {
  font-size: 1.5rem;
  font-family: _bold;
  color: #F5F5F5
}

.components-divider {
  width: 100%;
  height: 4px;

  background-color: rgb(245, 245, 245, 0.1);

  border-radius: 10px;

  margin-top: 12px;
  margin-bottom: 16px
}

.components-innerDivider {
  width: 100%;
  height: 4px;

  background-color: rgb(245, 245, 245, 0.1);

  border-radius: 10px;

  margin-top: 10px;
  margin-bottom: 15px
}

@media screen and (min-width: 1020px) {
  .components-title {
    font-size: 2.3rem;
    font-family: _bold;
    color: #F5F5F5
  }
}