#settings-maindiv {
  width: calc(100% - 60px);
  height: calc(100% - 2.2rem - 13px - 30px);

  background-color: transparent;

  overflow: scroll;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  padding: 0px 30px 0px 30px;
}

#settings-maindiv::-webkit-scrollbar {
  display: none;
}

#settings-bottomextender {
  height: 60px
}

.settings-option {
  background-color: transparent;
  
  
  color:#F5F5F5;
  font-family: _semibold;
  font-size: 1rem;

  position: relative;

  height: 1.6rem;
  margin-bottom: 30px
}

.settingsOption-label {
  max-width: 70%;
  text-wrap: nowrap;
  overflow: hidden;

  background-color: transparent;

  position: relative;

  z-index: 50;
  background: #F5F5F5;
  background: linear-gradient(to right, #F5F5F5 0%, rgb(245, 245, 245, 0) 95%);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  top: 50%;
  transform: translateY(-50%);
}

#settings-dropdown {
  width: 110px;
  height: 1.6rem;

  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0px 10px 0px 10px;

  border-radius: 20px;
  border: none;
  outline: none;

  background-color: rgb(245, 245, 245, 0.4);
  color: #F5F5F5;

  font-family: _bold;
  font-size: 16px
}

option {
  background-color: rgb(245, 245, 245, 0.4);
  opacity: 0.4;
  color: #0F131A;
}




@media screen and (min-width: 1020px) {
  #settings-maindiv {
    width: calc(100% - 100px - 100px);
    height: calc(100% - 2.5rem - 50px - 50px);

    background-color: transparent;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -50px;

    padding: 50px 50px 0px 50px;
  }
  #settings-bottomextender {
    height: 50px
  }

  .settings-option {
    background-color: transparent;
    
    
    color:#F5F5F5;
    font-family: _semibold; 
    font-size: 1.2rem;

    position: relative;

    height: 1.6rem
  }

  .settingsOption-label {
    width: max-content;
    max-width: 70%;
    text-wrap: nowrap;
    overflow: hidden;

    background-color: transparent;

    position: relative;

    z-index: 50;
    background: unset;
    background: unset;
    background-clip: unset;
    -webkit-text-fill-color: unset;

    top: 50%;;
    transform: translateY(-50%);
  }

}