.divider-line {
  width: 100%;
  height: 4px;
  background-color: rgb(245, 245, 245, 0.1);
  border-radius: 10px
}

#sidebar-maindiv {
  width: calc(100vw - 60px - 60px)/*Real size - right margin - total padding*/;
  max-width: 350px;
  height: calc(100svh - 60px)/*Real size - total padding*/;

  padding: 30px;

  background-color: rgba(23, 28, 35, 0.7);
  box-shadow: 0px 0px 30px 0px rgb(23, 28, 35, 0.5);

  backdrop-filter: blur(60px);

  transition: 0.45s;

  position: fixed;
  left: unset;
  z-index: 1000;

  overflow-y: scroll
}

#sidebar-maindiv::-webkit-scrollbar {
  display: none;
}

#sidebar-maindiv.show {
  left: 0px;
}
#sidebar-maindiv.hide {
  left: -100%;
}

#sidebar-closearea.show {
  width: 100svh;
  height: 100svh;

  background-color: transparent;

  position: fixed;
  z-index: 100;
  display: block;
}
#sidebar-closearea {
  width: 100svh;
  height: 100svh;

  background-color: transparent;

  position: fixed;
  z-index: 100;
  display: none;
}

#useridentity-profile {
  width: 50%;
  min-width: 150px;
  aspect-ratio: 1/1;

  background: #0F131A;
  background: linear-gradient(-45deg, rgba(15, 19, 26, 1) 0%, rgba(33, 40, 50, 1) 90%);

  border-radius: 15px;

  position: relative;

  color: #F5F5F5;
  font-size: 3.5rem;
  font-family: _extrabold;

  display: grid;
  place-items: center;
  user-select: none;
}

#useridentity-self {
  color: #F5F5F5;
  font-family: _bold;

  margin-top: 30px;
} #useridentity-contact {
  color: rgb(245, 245, 245, 0.4);
  font-family: _medium;
  font-size: 1rem;

  margin-top: 30px;
}

#useridentity-name {
  font-size: 2rem
}

#useridentity-license {
  font-size: 1.1rem;
  color: rgb(245, 245, 245, 0.4);

  margin-top: 5px;
}

#page-selector {
  width: 100%;
  height: max-cnotent;
  min-height: 50px;

  background-color: transparent;

  margin-top: 30px
}

.page-selector-div {
  cursor: pointer;
  user-select: none
}

.page-selector-div.active {
  width: calc(100% - 40px)/*Real size - total padding*/;
  height: 60px;

  border-radius: 15px;

  margin-bottom: 10px;
  padding: 0px 20px 0px 20px;

  position: relative;

  background-color: rgb(15, 19, 26, 0.4);
  color: rgb(245, 245,245, 1);

  transition: 0.45s
} .page-selector-div.inactive {
  width: calc(100% - 40px)/*Real size - total padding*/;
  height: 60px;

  border-radius: 15px;

  margin-bottom: 10px;
  padding: 0px 20px 0px 20px;

  position: relative;

  background-color: rgb(15, 19, 26, 0);
  color: rgb(245, 245,245, 0.4);

  transition: 0.45s
}

.pageselector-pointer{
  width: 7px;
  height: 7px;
  
  border-radius: 10px;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  transition: 0.45s

} .pageselector-pointer.active {
  background-color: rgb(245, 245, 245, 1);
} .pageselector-pointer.inactive {
  background-color: rgb(245, 245, 245, 0.4);
}
.pageselector-label {
  font-family: _bold;
  font-size: 1.2rem;

  position: absolute;
  top: 50%;
  margin-left: calc(7px + 20px);
  transform: translateY(-50%);
}

@media screen and (min-width: 1020px) {
  #sidebar-maindiv,
  #sidebar-maindiv.show,
  #sidebar-maindiv.hide{
    width: calc(350px - 60px)/*Real size - total padding*/;
    height: calc(100% - 60px)/*Real size - total padding*/;

    background-color: rgba(23, 28, 35, 0.7);
    box-shadow: 10px 0px 30px 0px rgb(23, 28, 35, 0.5);

    backdrop-filter: blur(60px);

    transition: 0.45s;
    position: fixed;
    left: 0px;

    z-index: 1000;

    border-radius: 30px
  }

  #sidebar-closearea {
    display: none;
  }

   #useridentity-contact {
    color: rgb(245, 245, 245, 0.4);
    font-family: _medium;
    font-size: 1.1rem;

    margin-top: 30px;
  }

  #useridentity-name {
    font-size: 2.3rem
  }

  #useridentity-license {
    font-size: 1.2rem;
    color: rgb(245, 245, 245, 0.4)
  }
}