body {
  background-image: url('./resources/wallpaper_dark\ 1.7520cc85540e952b1548.svg');
  background-repeat: no-repeat;
  background-position-x: center;

  font-family: _semibold;
}

@media screen and (max-width: 768px) {
  body {
    background-image: url('./resources/wallpaper_dark\ 1.7520cc85540e952b1548.svg');
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
}